<article  xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
            <div class="span12 responsive" data-tablet="span12 fix-offset" data-desktop="span12">
                <div class="portlet-title searchbutton">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn yellow"  ng-click=query()>
                        <i class="icon-eye-open"></i>
                        查询
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn blue">
                        <i class="icon-undo"></i>
                        重置
                    </button>
                </div>
            </div>
        <div class="portlet-body">
        &nbsp;
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 responsive" data-tablet="span12 fix-offset" data-desktop="span12">
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-user"></i>预约管理</div>
                    <div class="actions">
                        <a href="#" class="btn blue" data-toggle="modal" data-target="#example"  ng-click="add()"><i class="icon-pencil"></i>新增</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table datatable id="sample-table-2" class="table bottom table-striped table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>是否有效</th>
                            <th>内容</th>
                            <th>预约日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='book in BookList.list'>
                            <td>{{book.name}}</td>
                            <td>{{book.status|statust:status}}</td>
                            <td>{{book.book_content}}</td>
                            <td>{{book.book_datetime}}</td>
                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <span class="btn mini yellow" ng-Model="book" title="修改" ng-click=edit(book)>
                                        <i class="icon-edit bigger-120"></i>
                                        处理
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row-fluid top">
                        <div class="span12 responsive paginationtop">
                            <div class="dataTables_paginate  paging_bootstrap pagination">
                                <ul>
                                    <li class="prev">
                                        <a href="javascript:;" ng-click="PagerPrev()">← <span class="hidden-480">前一页</span></a>
                                    </li>
                                    <li   ng-class="{active : $index==TemplateList.pagenum-1}"   ng-repeat="n in []|PagerRange:BookList.pagecount">
                                      <!--  <a href="#">{{TemplateList.pagecount}}</a>-->
                                        <a href="javascript:;" ng-click="PagerData(n+1)">{{n+1}}</a>
                                    </li>

                                    <li class="next">
                                        <a href="javascript:;" ng-click="PagerAfter()"><span class="hidden-480">后一页</span> → </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

